/* https://www.youtube.com/watch?v=f13z6eFJEQg&feature=emb_rel_end */

/* ********* Global ********** */

*{
    color: #000;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

:root{
    --dark-blue-color: #0C2479;
    --green: #49AA26;
}

html{
    font-size: 93.75%; /* pattern-size for mobile */
}

body{
    font-family: 'poppins', sans-serif;
    background-color: rgb(255, 110, 3);
}


/* ********** Header Logo *********** */

header{
    background: purple;
    padding: 2rem 0rem 15rem;
    text-align: center;    
}

#logo{
    color: #FFF;
    font-weight: 100;
}

.logomark{
    font-size: 45px;
    color: green; 
    font-weight: 525;
}

/* sr-only kepp the content on screen for screen-readers, although we can't see it */
.sr-only{
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0px;
}



/* *********** Main Container ******************* */

.container{
    width: min(100vw, 900px);
    margin: auto;
    
}


/* ********** Titles *************** */

h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue-color);  
    font-weight: normal;
}

/* *********** Links and Buttons ********** */

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a:hover{
    color: purple;
}

.button.new{
    /* it works only for display block, but it will take the whole line as a link and we do not want it,
        so, we have to put display inline-block 'cause it will take for both properties */
    margin-bottom: .8rem; 
    display: inline-block;
}

button{
    width: 100%;
    height: 50px;
    border: none;
    color: #FFF;
    background-color: var(--green);
    padding: 0px;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 18px;
}

button:hover{
    background-color: purple;
}

.button.cancel{
    color: white;
    background: crimson;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.cancel:hover{
    background: purple;
}


/* *********** Section Balancee **************** */

#balancee{
    margin-top: -8rem;  
}

#balancee h2{
    color: white;
    margin-top: 0rem;
}


/* ********** Cards *************** */

.cards{
    background: #FFF;
    padding: 1.5rem 3rem;
    border-radius: 0.30rem;
    margin-bottom: 2.2rem;
    border: 2.5px solid white;
}

.cards h3{
    color: #000;
    font-weight: normal;
    font-size: 1rem;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.cards p{
    color: #000;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 1rem;
}

.cards.background{
    background-color: purple;
}

.cards.background span{
    color: white;
}

.cards.background h3{
    color: White;
    font-weight: normal;
    font-size: 1rem;
}

.cards.background p{
    color: White;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 1rem;
}


/* ************** Section Transactionss **************** */

#tableaux{
    width: 100%;
    border-spacing: 0 0.7rem;
}

#transactionss{
    display: block;
    width: 100%;
    overflow-x: auto;
}

table thead th{
    background-color:white;
    opacity: 0.6;
    color: var(--dark-blue-color);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 0.001px solid #000;
}

table tbody td{
    background-color: #FFF;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 1rem 2rem;
    font-weight: normal;
}

table tbody tr td:last-child, table thead tr th:last-child{
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

table tbody tr{
    opacity: 0.8;
}

table tbody tr:hover{
    opacity: 1.0;
}

.expensee{
    color: red;
}

.incomee{
    color: #42eb0f;
}


/* ********** Modal Overlay ********** */
.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 7); /* rgba means r-red, g-green, b-blue and a-alpha (transparency) */
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden; 
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    background-color: #F0F2F5;
    padding: 2.4rem;
}

/* ********** Forms ****************** */

#form{
    max-width: 500px;
}

#form h2{
    margin-top: 0px;
}

input{
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}

.input-group{
    margin-top: 0.8rem;
}

.input-group .help{  /* changed */ 
    opacity: 0.6;
}

.input-group.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button.cancel{
    width: 48%;
}

.input-group.actions button{
    width: 48%;
}

/* ********** Footer ***************** */

footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: #FFF;
    font-weight: 400;
    opacity: 0.65;
}

.copyright{
    font-size: 25px;
    font-weight: normal;
    font-family: 'poppins', sans-serif;
    color: #FFF;
}


/* ********** Responsive ******** */
/* When the minimum width is 800 pixel or over, these bellow rules will work */
/* Otherwise, everything above at the beginning will work instead */ 
@media (min-width: 800px){
    html{
        font-size: 87.5%;
    }

    #balancee{
        display: grid;
        grid-template-columns: repeat(2, 1fr) 1.25fr;
        gap: 2rem;
    }

}

